nav.Nav
    top: 0
    width: 100%
    height: 100px
    display: flex
    position: sticky
    background-color: rgb(255, 255, 255)
    transition: .6s all
    z-index: 99
    &.active
        box-shadow: 0 0 12px 0 #0000000f
    .width
        max-width: 1350px
        width: 100%
        margin: 0 auto
        display: flex
        flex-wrap: nowrap
        align-items: center
        justify-content: space-between
    .logo
        img
            margin: 0 30px
            max-width: 60px
    .left_menu, .right_menu
        display: flex
    ul
        margin: 0
        padding: 0
        display: flex
        position: relative
        align-items: center
        list-style-type: none
        li
            color: rgba(red, .7)
            display: flex
            padding: 10px 20px
            font-size: 15px
            justify-items: center
            font-weight: bold
            border-radius: 6px
            transition: .2s all
            cursor: pointer
            z-index: 2
            &:hover
                // background-color: rgba(red, .03)

        li:nth-child(1)
            width: 96px
            &:hover ~ span
                margin: 0 0 0 0
                width: 136px

        li:nth-child(2)
            width: 97px
            &:hover ~ span
                margin: 0 0 0 136px
                width: 137px

        li:nth-child(3)
            width: 61px
            &:hover ~ span
                margin: 0 0 0 273px
                width: 101px

        li:nth-child(4)
            width: 68px
            &:hover ~ span
                margin: 0 0 0 374px
                width: 108px

        > span
            width: 100%
            height: 40px
            margin: 0
            display: block
            position: absolute
            border-radius: 6px
            background-color: rgba(red, .03)
            transition: .2s all
    .right_menu
        display: flex
        align-items: center
    .shoppingCart
        height: 100px
        display: flex
        position: relative
        align-items: center
        justify-content: center
        span
            margin: 0 15px
        img
            max-width: 30px
    .shoppingCartList
        top: 100px
        width: 300px
        margin: 0
        padding: 0
        position: absolute
        transform: translateX(-200px)
        transition: .4s all
        animation: .4s showed
        ul
            max-height: 600px
            margin: 0
            padding: 0
            display: flex
            overflow-y: auto
            flex-wrap: wrap
            border-radius: 0 0 16px 16px
            justify-content: center
            background-color: white
            box-shadow: 0 11px 12px 0 #0000000f
            li
                width: 100%
                padding: 20px 30px
                display: flex
                align-items: center
                justify-content: space-between
                box-sizing: border-box
                &:last-child
                    bottom: 0
                    margin: 0
                    position: fixed
                    background-color: #fff7f7
                    box-sizing: border-box
                &:nth-last-child(2)
                    margin-bottom: 65px
                span
                    display: flex
                    margin: 0 0 0 20px
                    position: relative
                    align-items: center
                img
                    max-width: 50px
                    position: absolute
                .previewMuffin
                    display: flex
                    align-items: center
                    justify-content: center
                .remove img
                    max-width: 16px
                    opacity: .6
        &:hover ~ ul
            display: none

    .language
        width: 40px
        height: 20px
        margin: 0 20px
        padding: 0
        display: block
        cursor: pointer
        img
            max-width: 40px
@keyframes showed
    0%
        transform: translateY(-30px)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1

@media only screen and (max-width: 800px)
    nav.Nav
        align-items: start
        .hamburger
            margin: 0 20px 0
            width: 50px
            height: 40px
            display: flex
            position: relative
            flex-wrap: wrap
            align-items: center
            justify-content: center
            cursor: pointer
            &>span
                width: 70%
                height: 4px
                display: block
                position: absolute
                border-radius: 6px
                background-color: rgba(red, .7)
                transition: .4s all
                &:first-child
                    transform: translateY(-12px)
                &:last-child
                    transform: translateY(12px)
            &.active
                span
                    &:first-child
                        transform: rotate(45deg)
                    &:last-child
                        transform: rotate(-45deg)
                    &:nth-last-child(2)
                        transform: rotate(45deg)
                        
        .width
            height: 100%
            justify-content: space-between
        .left_menu
            ul
                top: 100px
                left: 0
                width: 100%
                height: 100%
                display: none
                position: fixed
                background-color: white
                &.active
                    display: block
                    animation: .4s showed
                li
                    width: 100%
                    padding: 20px 0
                    display: block
                    font-size: 25px
                    box-sizing: border-box
                    text-align: center
        .hover
            display: none

        .shoppingCartList
            left: 0
            width: 100%
            height: 100%
            position: fixed
            transform: translateX(0)
            ul
                width: 100%
                display: block
                max-height: calc(100vh - 100px)
                height: calc(100vh - 100px)
                border-radius: 0
                li
                    max-height: 65px
                    height: 65px
                li:last-child
                    bottom: 100px
                    position: fixed
                    border-radius: 13px 13px 0 0
                    box-sizing: border-box
                    z-index: 9
                li:nth-last-child(2)
                    margin-bottom: 63px